/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*END OF CSS RESET*/

:root{
    /*COLORS*/
    --primary-color:#5D8CF5;
    --secondary-color:#F5E2B5;
    --primary-lighter:#81a7fa;
    --secondary-lighter:#f3edde;
}

#main{
    width: 100vw;
    display: grid;
    grid-template-columns: 20fr 80fr;
    
    #leftContainer{

        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        padding-right: 8px;
        padding-left: 8px;

        #newListBtn{

            border: 8px ridge var(--primary-color);
            height: 80px;
            margin: 4px;
        }
        
        #newListBtn:hover{
            background-color: var(--primary-lighter);
        }

        #listContainer{
            
            display: grid;
            grid-template-rows: repeat(1fr);
            gap:8px;
            padding: 12px;

            div{
                display: grid;
                grid-template-rows: repeat(1fr 1fr 1fr);
                font-size: 12px;
                height: 32px;
                font-weight: 600;
                user-select: none;
                cursor: pointer;
                padding: 8px;
                border: 4px solid var(--primary-color);
                text-align: center;

                p{
                    font-size: 12px;
                    font-weight: 500;
                }

            }
            div:hover{
                background-color: var(--secondary-lighter);
            }
            
        }
    }
    #todoContainer{
        
        user-select: none;
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        border: 2px solid blue;
        

        .todoHeader{
            
            cursor: default;
            display: grid;
            grid-template-columns: 5fr 20fr 3fr 2fr;
            height: 32px;
            background-color: var(--secondary-color);
            
            p{
                display: flex;
                justify-content: flex-start;
                border: 1px solid gold;
            }
            
        }
        
        .todo{
            
            cursor: pointer;
            display: grid;
            grid-template-columns: 5fr 20fr 3fr 2fr;
            height: 32px;
            
            p{
                display: flex;
                justify-content: flex-start;
                border: 1px solid black;
            }

            
        }
        .todo:hover{
            background-color: var(--secondary-color);
        }

        /*NEW LIST FORM*/
        #listForm{
            display: flex;
            flex-direction: column;
            width: 50vw;
            height: 50vh;
            background-color: var(--secondary-color);
            padding: 10px;
            border: 16px groove var(--primary-color);

            *{
                margin: 8px;
            }
            
            label{  
                margin-top: 16px;
                font-size: 32px;
                margin-bottom: 8px;
            }

            input:focus{
                background-color: var(--secondary-lighter);
            }
            
            

            input{
                font-size: 32px;
                border: 4px solid var(--primary-color);
                line-height: 48px;
                outline: none;
                text-align: center;
            }

            button:hover {
                background-color: var(--primary-lighter);
            }

            #closeForm{
                align-self: flex-end;
                border: 8px groove var(--primary-color);
                margin: 16px;
                font-size: 32px;
            }

            #newListSubmit{
                align-self: flex-end;
                border: 8px groove var(--primary-color);
                margin-top: 32px;
                font-size: 32px;

            }
        }
        /*NEW TODO FORM*/
        #todoForm{
            display: flex;
            flex-direction: column;
            padding: 16px;
            background-color: var(--secondary-lighter);
            /*CLOSE FORM BUTTON THE RED ONE*/
            #closeForm{
                align-self: flex-end;
                font-size: 32px;
                background-color: red;
                color:white;
                border: 4px solid black;
            }

            input{
                border: 2px solid var(--primary-color);
                margin-bottom: 4px;
                font-size: 20px;
                text-align: center;
            }

            input:focus{
                background-color: var(--primary-lighter);
            }

            label{
                margin-top: 4px;
                font-size: 20px;
            }

            /*DIV RADIO*/
            #priority{
                display: flex;
                justify-content: space-around;
                
                label{
                    font-size: 20px;

                    input{
                        border: 2px solid black;
                    }
                }
            }
            /*CREATE FORM BUTTON*/
            #newTodoSubmit{

                align-self: center;
                width: 32%;
                font-size: 20px;
                margin-top: 32px;
                padding: 8px;
                border: 4px solid var(--primary-color);
                background-color: var(--primary-lighter);
            
            }






        }
    
    
    }
}

